@import url('/src/root.css');

.export-button {
    background: transparent;
    /* background: var(--color-dark); */
    border: 2px solid var(--color-white);
    border-radius: 20px;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    height: 45px;
    gap: 10px;
    margin-left: 90px;
    font-size: 16px;
    font-weight: 600;
}

.export-button:hover {
    background: var(--color-white);
    color: var(--color-dark);
    border: 2px solid var(--color-light);
    box-shadow: none;
}

.export-button span {
    font-size: 20px;
    font-weight: 500;
    margin-top: -3px;
}

.export-button label {
    cursor: pointer;
}