@import url('/src/root.css');

.container-con {
    margin-top: 8px;
    border: 2px solid var(--color-info-dark);
    border-radius: 10px;
    width: 300px;
    height: 43px;
    background: transparent;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.ml-con {
    margin-left: 15px;
}

select {
    background: transparent;
    font-size: 15px;
    color: var(--color-dark);
    width: 150px;
    cursor: pointer;
}

.container-con p {
    font-size: 15px;
    color: white;
}

option {
    font-size: 15px;
    color: var(--color-dark);
}

.header-con {
    border-radius: 7px;
    margin-left: 5px;
    background: var(--color-primaryi);
    width: 120px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}