/* Fronts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

/* Icons */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,700,0,0');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

/* ROOT VARAIBLES */
:root {
    --color-primary: #7380ec;
    --color-primaryi: #4b5bec;
    --color-pri: #4be4ec;
    --color-good: #ff4756;
    --color-reject: #15dc99;
    --color-danger: #ff7782;
    --color-dangeri: #fe3445;
    --color-success: #41f1b6;
    --color-successi: #00c583;
    --color-warn:#ffcb7e;
    --color-warning:#ffbb55;
    --color-warningi:#fa9702;
    --color-white:#fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-primary-varianti: #001efd;
    --color-dark-variant: #677483;
    --color-background : #f6f6f9;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 0.3rem 0.3rem var(--color-primary);
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

p{
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.blue{
    color: #4995F3;
}
.primary{
    color: var(--color-primary);
}
.danger{
    color: var(--color-danger);
}
.success{
    color: var(--color-success);
}
.warning{
    color: var(--color-warning);
}
.primary-variant{
    color: var(--color-primary-variant);
}